html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #f1f1f1;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.h1 {
    padding-bottom: 20px;
    margin-top: 15%;
    font-size: 25px;
    text-align: center;
}

.p {
    color: red;
    font-size: 10px;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

#login_container {
    padding-top: 50px;
}

#container {
    margin: 0 auto -30px;
    position: relative;
}

.form-group,
input {
    padding: 8px;
}

#link-to-login {
    padding-top: 50px
}

#table-of-digits {
    width: 280px;
}

body {
    font-family: Arial;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.textview {
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}